* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url('./images/background.png');
  color: white;
  text-align: center;
}

.System {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
